@font-face {
          font-family: 'Consolas';
          font-style: normal;
          font-weight: 400;
          src: url(http://fonts.gstatic.com/l/font?kit=TpFqWZSGySezmErbjBEtxevvDin1pK8aKteLpeZ5c0A&skey=3d1eb1871fcc58a1) format('woff');
}

ol{margin:0;padding:0}
table td,table th{padding:0}

.common {
    overflow: hidden;
}

.contentBlock {
    float: right;
    margin-right: 0px;
}

.skillBlock {
    text-indent: -6em;
    width: 28em;
}

.historyBlock {
    text-indent: -0.5em;
    width: 40em;
}

.section {
    margin-top: 10px;
    width: 100%;
}

.historyItem {
    margin-left: 80px;
}

.alignLeft {
    margin-left: 40px;
}

.indentLeft {
    margin-left: 110px;
}


.portrait {
    overflow: hidden;
    display: inline-block;
    float: right;
    margin: 0.00px 0.00px;
    border: 0.00px solid #000000;
    width: 150px;
    height: 150px;
}

.c31{border-right-style:solid;border-bottom-color:#000000;border-top-width:0pt;border-right-width:0pt;border-left-color:#000000;vertical-align:bottom;border-right-color:#000000;border-left-width:0pt;border-top-style:solid;border-left-style:solid;border-bottom-width:0pt;width:276.5pt;border-top-color:#000000;border-bottom-style:solid}

.c8{padding-top:0pt;padding-bottom:0pt;line-height:1.15;orphans:2;widows:2;text-align:left}

.c25{color:#000000;font-weight:normal;text-decoration:none;vertical-align:baseline;font-style:normal}

.c1{margin-left:72pt;orphans:2;text-indent:36pt;widows:2;margin-right:-18pt}

.c5{orphans:2;widows:2;margin-right:-18pt;height:11pt}

.c28{
    border-spacing:0;
    border-collapse:collapse;
    margin-right:auto;
    width: 100%;
}

.c32{padding-top:0pt;padding-bottom:0pt;line-height:1.15;text-align:right}

.c16{margin-left:180pt;orphans:2;text-indent:36pt;widows:2}

.c6{orphans:2;widows:2;margin-right:-18pt}

.c9{margin-left:108pt;text-indent:36pt}

.c17{orphans:2;widows:2}

.c0{font-size:10pt;font-family:"Consolas"}

.c23{color:#1155cc;text-decoration:underline}

.c19{
    max-width: 600pt;
    min-width: 545pt;
    padding:36pt 31.7pt 72pt 27.4pt
}

.c22{color:inherit;text-decoration:inherit}

.c4{font-family:"Consolas";text-decoration:underline}

.c20{height:11pt}

.c13{color:#333333}

.c11{font-size:8pt}

.c2{color:#cccccc}

.c3{font-weight:bold}

.c21{text-indent:36pt}

.c7{font-family:"Consolas"}

.c24{color:#b7b7b7}

.c27{height:0pt}

.c10{background-color:#ffffff}

.c33{margin-left:72pt}

.c30{margin-left:216pt}

.c29{color:#000000}

.c26{font-size:14pt}

.c18{color:#d9d9d9}

.c15{font-size:9pt}

.c14{margin-left:144pt}

li{color:#000000;font-size:11pt;font-family:"Arial"}

p{margin:0;color:#000000;font-size:11pt;font-family:"Arial"}